* {
    background-color: #1c422b;
    color: #d8eee1;
    margin: 0;
}

/* secondary background: #425c1c button: #3c8f5d */

.header-content {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #425c1c;
    align-items: center;
}

.logo {
    width: auto;
    height: 70px;
    background-color: #425c1c;
    padding-top: 12px;
}

.nav-links {
    background-color: #425c1c;
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links li {
    background-color: #425c1c;
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    background-color: #425c1c;
}

.header-bar img {
    width: 605px;
    height: 250px;
    display: flex;
    align-self: center;
}

.header-bar {
    display: flex;
    background-color: #425c1c;
    justify-content: center;
}

.hero-container, .title, .title-sub, .title-button {
    background-color: #425c1c;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 36px;
    gap: 20px;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.title-sub {
    font-size: 18px;
}

.title-button {
    font-size: 25px;
    border: 1px solid #d8eee1;
    border-radius: 15px;
    width: 150px;
    background-color: #3c8f5d;
}

.info-img-container img {
    width: 250px;
    height: 200px;
    border: 6px solid #3c8f5d;
    border-radius: 5px;
}

.information {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 32px;
}

.info-img-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-top: 70px;
}

.info {
    max-width: 250px;
}

.text {
    text-align: center;
    font-size: 18px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 300px 400px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-speaker {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

.sign-up-container {
    display: flex;
    justify-content: center;
}

.left-head, .left-text, .right-side, .right-button {
    background-color: #3c8f5d;
}

.left-side {
    border-left: 1px solid #3c8f5d;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 28px 120px;
    padding-right: 0;
    background-color: #3c8f5d;
    width: 750px;
    margin-right: -50px;
}

.left-head {
    font-size: 30px;
}

.left-text {
    font-size: 18px;
}

.right-side {
    display: flex;
    height: 111px;
    flex-direction: column;
    justify-content: center;
    padding-right: 107px;
    border-right: 1px solid #3c8f5d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-button {
    width: 150px;
    font-size: 25px;
    border: 1px solid #d8eee1;
    border-radius: 8px;
    padding: 5px;
}

.footer {
    height: 72px;
    background: #425c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    font-size: 19px;
}